@import url("https://fonts.googleapis.com/css2 family=Poppins:wght@300&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: start;
  align-content: stretch;
  box-sizing: border-box;
  width: 375px;
  height: 5000px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  width: 375px;
  height: 92px;
  justify-content: space-between;
  align-items: center;
  padding: 50px 36px 15px 24px;
  box-sizing: border-box;
  background-color: #fff;
  order: 1;
  margin: 0;
}

#logo {
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 76px;
  height: 20px;
  top: 10px;
  left: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  transition: transform 0.4s ease-in-out;
}

#logo:hover {
  transform: scale(1.1);
}

#mobile-nav {
  transition: all 0.3s ease-in-out;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(96, 112, 255, 0.9);
}

#menu {
  display: block;
  cursor: pointer;
}

#menu.active {
  float: right;
  margin-top: 20px;
  margin-right: 35px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#nav {
  display: none;
}

#link {
  display: none;
}

.mobile-nav.active #link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 80px;
  list-style-type: none;
}

.mobile-link a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  height: 718px;
  margin: 0;
  position: relative;
  background: url(/images/header.png);
  background-color: #fff;
  background-repeat: no-repeat;
  align-items: center;
  order: 2;
  border-bottom-left-radius: 80px;
}

#head-section.active {
  filter: blur(4px);
}

body.active {
  overflow-y: hidden;
}

.head {
  display: flex;
  align-items: center;
  flex-grow: 0;
  order: 0;
  width: 327px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding: 128px 24px 0;
}

.resume {
  width: 327px;
  height: 146px;
  font-size: 16px;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 24px;
}

.connect {
  width: 117px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-items: center;
  margin-left: 24px;
}

.social-media-icons {
  display: flex;
  gap: 15px;
  margin-left: -15px;
  top: 562px;
  left: 24px;
  width: 160px;
  list-style-type: none;
  animation: width-change 1s ease-in-out 0.5s 1;
}

.secpa {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 16px;
  order: 12px;
  width: 327px;
  height: 596;
  background: #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.grid-container {
  display: grid;
  width: 375px;
  height: 2600px;
  grid-template-rows: auto auto auto auto;
  justify-content:center;
  align-content: space-between;
  grid-gap: 10px;
  background-color: #e5e5e5;
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  order: 0;
}

.flex1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
  }

.snapshoot {
width: 295px;
height: 220px;
background: url("./images/Snapshoot Portfolio.png");
border-radius: 8px;
flex: none;
top: 16px;
left: 16px;
right: 16px;
bottom: 316px;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.primarytext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: block;
}

.tonic {
  width: 295px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.cardtonic {  
  display: flex; 
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 236px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
  }

.CANOPY {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin: auto;
  top: 304px;
  left: 16px;
}

.BackE {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 88px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.date {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 29px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.dot1 {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 8px;
  height: 8px;
}

.dot {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 8px;
  height: 8px;
}

.adayl {
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 295px;
  height: 76;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.adayl_p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.botonic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  padding: 0px;
  width: 214px;
  height: 24px;
  top: 428px;
  right: 57px;
  left: 16px;
  bottom: 100px;
  margin: 0;
}

.tonichtml {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 57px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 16px;
  right: 254px;
  top: 428;
  bottom: 100px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.toniccss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 675px;
  right: 436px;
  top: 244;
  bottom: 228px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.tonicJava {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 2;
  flex-grow: 0;
  left: 728px;
  right: 339px;
  top: 244;
  bottom: 228px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.buttontonic {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
  position: absolute;
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
  align-items: center;
}

.go-buttontonic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 12px;
  gap: 10px;
  box-sizing: border-box;
  /*position: absolute;*/
  width: 126px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2);
  letter-spacing: 0.03em;
  border: solid #396df2;
}

.go-buttontonic {
  width: 102px;
  height: 24px;
  font-family: Poppins, 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  border-radius: 8px;
  background-color: #fff;
  letter-spacing: 0.03em;
  align-items: center;
  text-align: center;
  line-height: 24px;
  display: flex;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
}

.go-buttontonic:hover {
  transform: scale(1.1);
  background-color: rgb(57, 109, 242);
  color: rgb(223, 225, 230);
}

.flex2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
}

.multipost {
width: 295px;
height: 220px;
background: url("./images/multipost.png");
border-radius: 8px;
flex: none;
top: 16px;
left: 16px;
right: 16px;
bottom: 316px;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.primarytext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: block;
}

.multi {
  width: 295px;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.adayl {
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 295px;
  height: 76;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.adayl_p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.bomulti {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  padding: 0px;
  width: 214px;
  height: 24px;
  top: 428px;
  right: 57px;
  left: 16px;
  bottom: 100px;
  margin: 0;
}

.multihtml {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 57px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 16px;
  right: 254px;
  top: 428;
  bottom: 100px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.multicss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 675px;
  right: 436px;
  top: 244;
  bottom: 228px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.multiJava {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 2;
  flex-grow: 0;
  left: 728px;
  right: 339px;
  top: 244;
  bottom: 228px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.buttonmulti {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
  position: absolute;
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
  align-items: center;
}

.go-buttonmulti {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 12px;
  gap: 10px;
  box-sizing: border-box;
  width: 126px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2);
  letter-spacing: 0.03em;
  border: solid #396df2;
}

.go-buttonmulti {
  width: 102px;
  height: 24px;
  font-family: Poppins, 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  border-radius: 8px;
  background-color: #fff;
  letter-spacing: 0.03em;
  align-items: center;
  text-align: center;
  line-height: 24px;
  display: flex;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
}

.go-buttontonic:hover {
  transform: scale(1.1);
  background-color: rgb(57, 109, 242);
  color: rgb(223, 225, 230);
}

.flex3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
  }

.toni {
width: 295px;
height: 220px;
background: url("./images/toni.png");
border-radius: 8px;
flex: none;
top: 16px;
left: 16px;
right: 16px;
bottom: 316px;
}

.square {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.primarytext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: block;
}

.tonic1 {
  width: 295px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}


.adaycal {
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 295px;
  height: 76;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.adayca_p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.camulti {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  padding: 0px;
  width: 214px;
  height: 24px;
  top: 428px;
  right: 57px;
  left: 16px;
  bottom: 100px;
  margin: 0;
}

.cahtml {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 57px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 16px;
  right: 254px;
  top: 428;
  bottom: 100px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.cacss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 675px;
  right: 436px;
  top: 244;
  bottom: 228px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.caJava {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 2;
  flex-grow: 0;
  left: 728px;
  right: 339px;
  top: 244;
  bottom: 228px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.buttonca {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
  position: absolute;
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
  align-items: center;
}

.go-buttonca {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 12px;
  gap: 10px;
  box-sizing: border-box;
  /*position: absolute;*/
  width: 126px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2);
  letter-spacing: 0.03em;
  border: solid #396df2;
}

.go-buttonca {
  width: 102px;
  height: 24px;
  font-family: "Poppins", 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  border-radius: 8px;
  background-color: #fff;
  letter-spacing: 0.03em;
  align-items: center;
  text-align: center;
  line-height: 24px;
  display: flex;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
}

.go-buttonca:hover {
  transform: scale(1.1);
  background-color: rgb(57, 109, 242);
  color: rgb(223, 225, 230);
}

.flex4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
}

.mult {
  width: 295px;
  height: 220px;
  background: url("./images/mult.png");
  border-radius: 8px;
  flex: none;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 316px;
}

.square4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.primarytext4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: block;
}

.multi1 {
  width: 295px;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.adayl4 {
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 295px;
  height: 76;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.adayl4_p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.bomult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  padding: 0px;
  width: 214px;
  height: 24px;
  top: 428px;
  right: 57px;
  left: 16px;
  bottom: 100px;
  margin: 0;
}

.multhtml {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 57px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 16px;
  right: 254px;
  top: 428;
  bottom: 100px;
  list-style: none;
  color: #6070ff;
  font-family: "Poppins", 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.multcss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 675px;
  right: 436px;
  top: 244;
  bottom: 228px;
  list-style: none;
  color: #6070ff;
  font-family: "Poppins", 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.multJava {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 2;
  flex-grow: 0;
  left: 728px;
  right: 339px;
  top: 244;
  bottom: 228px;
  list-style: none;
  color: #6070ff;
  font-family: "Poppins", 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.buttonmult {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
  position: absolute;
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.go-buttonmult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 12px;
  gap: 10px;
  box-sizing: border-box;
  width: 126px;
  height: 48px;
  left: 0px;
  top: calc(50% - 48px/2);
  letter-spacing: 0.03em;
  border: solid #396df2;
}

.go-buttonmult {
  width: 102px;
  height: 24px;
  font-family: "Poppins", 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  border-radius: 8px;
  background-color: #fff;
  letter-spacing: 0.03em;
  align-items: center;
  text-align: center;
  line-height: 24px;
  display: flex;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
}

.go-buttonmult:hover {
  transform: scale(1.1);
  background-color: rgb(57, 109, 242);
  color: rgb(223, 225, 230);
}
