
.botonic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: (100% - 10px);
  height: 24px;
  top: 428px;
  right: 57px;
  left: 16px;
  bottom: 100px;
  margin: 0;
}

.tonichtml {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 57px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 16px;
  right: 254px;
  top: 428;
  bottom: 100px;
  list-style: none;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.toniccss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 675px;
  right: 436px;
  top: 244;
  bottom: 228px;
  list-style: none;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.tonicJava {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 2;
  flex-grow: 0;
  left: 728px;
  right: 339px;
  top: 244;
  bottom: 228px;
  list-style: none;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

